h2 { 
  text-align: left;
   
}

ul {
  text-align: left;
}

body {
  font-size: large;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  background-color: #ddb7ab;
}

div {
  font-size: 100%
  
}

#navbar {
  background-color: transparent;
}

.navbar-brand {
  font-size:xx-large;
}

#collapsibleNavbar{
  justify-content: right;
  color:black;

}
.nav-link { 
  color:black;
}

a { 
  color:black;
}

.card{
  background-color: #004aad;
}

.circular--square { 
  border-radius: 50%; 
}

#bit-div { 
  white-space: nowrap; 
}

.pic { 
  display: inline-block; 
}

.content-text {
  border: 2px solid #004aad;
  border-radius: 5px;
  padding: 50px;
  margin: 0 auto;
  position: relative;
  max-width: 500px;
}

.centered-doja {
  position: absolute;
  top: 43%;
  left: 58%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: bolder;
  font-size: x-large;
  opacity: 1.0;
}

.centered-burna {
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: bolder;
  font-size: x-large;
  opacity: 1.0;
}

.centered-monet {
  position: absolute;
  top: 80%;
  left: 64%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: bolder;
  font-size: x-large;
  opacity: 1.0;
}

.fa {
  padding: 20px;
  font-size: 25px;
  width: 65px;
  text-align: center;
  text-decoration: none;
  margin: 5px 1px;
  border-radius: 50%;
}
 
.fa-spotify{
  background: #191414;
  color: #1DB954;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: white;
}

.site-footer {
  background-color: #004aad;
}



